body{
  background:#f2f2f2;
  font-family:Arial, sans-serif;
}

.card{
  width:80%;
  margin:80px auto;
  display:flex;
  border-radius:10px;
  overflow:hidden;
}

.left{
  width:30%;
  background:#640a3a;
  color:white;
  text-align:center;
  padding:60px 20px;
}

.left h1{
  font-size:36px;
}

.left h2{
  font-size:20px;
  margin-top:10px;
}

.right{
  width:70%;
  background:#1e272e;
  color:white;
  padding:40px;
}

.right h3{
  color:#feca57;
}

input, select{
  width:60%;
  padding:10px;
  margin:10px 0;
}

button{
  padding:10px 20px;
  background:#710837;
  border:none;
  color:white;
  cursor:pointer;
}

button:hover{
  background:#620835;
}